@import "tailwindcss";
@import "tw-animate-css";

/* 
:root {
  --font-munchies: var(--font-munchies);
}

body {
  font-family: var(--font-munchies), sans-serif;
} */

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-out forwards;
  
}

.react-select__control {
  background-color: #fff6e6 !important;
  border-color: #ff4b22 !important;
}

.react-select__control:hover {
  border-color: #ff4b22 !important;
}

.react-select__menu {
  background-color: #fff6e6 !important;
}

.react-select__option--is-focused {
  background-color: pink !important;
}



 .react-select__option--is-selected {
  background-color: #ff4b22 !important;
  color: white !important;
}  

.input{
  background-color:#fff7e8;
}